html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 20px;
}

#debrief {
    width: 70%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}

#end_button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
}